*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(1, 1, 26);
    color: whitesmoke;
    min-height: 100vh;
}
.scoreboard{
    font-family: cursive;
}
.startt{
    color: white;
    text-decoration: none;
    border: 1px solid whitesmoke;
    box-shadow: 0 2px 5px whitesmoke;
}
.donee{
    border: 1.2px solid rgb(13, 99, 99);
    border-radius: 0.5rem;
}
.donee:hover{
    /* background-color:rgb(138, 236, 236); */
    color: #eee;
    background-color: rgb(8, 8, 94);
    font-weight: 700;
}
.startt:hover{
    color: rgb(8, 8, 94);
    background-color: rgb(213, 250, 255);
    font-weight: 700;
}
.correct{
    color: rgb(13, 184, 13);
}
.incorrect{
    color: red;
    text-decoration: underline;
}
.titlee{
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.2rem;
}
#para{
    border-radius: 0.5rem;
    background-color: rgb(213, 250, 255);
    color: black;
    letter-spacing: 0.04rem;
    position: relative;
    resize: none;
    border:rgb(1, 1, 26);
    box-shadow: 2px 2px 8px white;
}
.endd{
    color: whitesmoke;
    /* font-family: 'Pacifico', cursive; */
    font-family: cursive;
    font-size: 1.2rem;
    /* display: none; */
}
.overlay{
    position:fixed;
    top:0;bottom:0;left:0;right:0;
    background-color: rgba(255,255,255,.82);
    color: rgb(1, 1, 26);
    opacity:1;
    display:none;
}
.overlay-inner{
    margin-top:200px;
}
body.overlay-is-open .main-ui{
    filter:blur(4px);
}
.answer{
    display: none;
}
.randomParagraphGenerated{
    padding-bottom: 0.4rem;
}
#typingSpeed, #typingAccuracy{
    color: rgb(17, 165, 165);
}
.speed{
    display:none;
}
#paragraphInput{
    width: 100%;
    padding: 0.4rem;
    min-height: 8rem;
    border-radius: 0.5rem;
    border: 1.5px solid rgb(13, 99, 99);
    outline: hidden;
}
#paragraphInput:focus{
    outline: hidden;
    border: 1.5px solid black;
    border-radius: 0.5rem;
}
@media screen and (max-width: 400px){
    #para{
        border-radius: 3%;
        letter-spacing: 0rem;
        font-size: 13px;
    }
    .endd, #wpm{
        font-size: 1rem;
    }
    .titlee{
        font-size: 26px;
    }
}
